.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  color: #ffffff;
  margin-top: 5rem;
}

.container h1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.container img {
  max-width: 20rem;
  max-height: 20rem;
}
