.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 4rem;
  opacity: 0;
  animation: fadeIn ease-out 1000ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container h1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
}

.container p {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1rem;
}

.cta-wrapper {
  display: flex;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
