.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
  width: 100%;
}

.title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}

.search {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0.5rem;
  width: 100%;
}

.input {
  text-align: center;
  flex: 4;
  width: unset;
  border: none;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: "Cabin", Helvetica, sans-serif;
  vertical-align: middle;
}

.results {
  flex: 2;
  padding: 0 1rem;
}

@media only screen and (max-width: 420px) {
  .search {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
}
